@import "../styles.scss";

.tc-banner {
  position: absolute;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: $dark-gray;
  display: flex;
  align-items: center;
}

.title {
  color: white;
  position: relative;
  margin: 0 auto;
  font-size: 2rem;
}

.tc-button {
  color: white;
  position: absolute;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    color: $dark-gray;
    background-color: white;
    border-color: $dark-gray;
  }
}

.boards-container {
  background-color: $off-white;
  height: 100%;
  top: 4rem;
  position: absolute;
  width: 100%;
  .boards-info {
    display: flex;
    padding: 1rem;
  }
  .boards-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    height: auto;
    .board-preview {
      width: 10rem;
      height: 6rem;
      border: 1px solid $dark-gray;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      background-color: white;
      cursor: pointer;

      &:hover {
        background-color: aliceblue;
      }
    }
  }
}
