@import "../../styles.scss";

.board-wrapper {
  height: 100%;

  .board-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 4rem;
  }
  .column-container {
    height: 100%;
    margin: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
  }
  .columns-wrapper {
    height: 100%;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid $dark-gray;
    border-radius: 0.25rem;

    .columns {
      display: flex;
      overflow-x: scroll;
      height: 100%;
    }
  }
}
