/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100% !important;
  font-family: "Calibri", Cali, sans-serif !important;
  overflow-x: hidden !important;
}

body {
  margin: 0 !important;
}

// colors
$dark-gray: #323639;
$off-white: #EFF2FB;
